/* Add here all your CSS customizations */
.feature-box-icon2{float:left; margin:0px 15px 15px 0px;}
.feature_row{width:100%; float:left; margin:15px 0px 25px 0px;}
.feature_row h4 span{color:#666;}
.feature-box-info h4{font-size:120%;}
.caption fade tp-caption start{margin:-20px 0px 0px 0px;}
.demo_btn{margin:10% 0px 0px 18%; float:left;}
.demo_btn2{margin:55% 0px 0px 28%; float:left;}
.demo_btn3{margin:26% 0px 0px 19%; float:left;}
.clear{clear:both; line-height:1px;}
.left{float:left;}
.right{float:right;}


.btn-demo {
	color: #ffffff;
	background-color: #eb7900;
	background-image: -moz-linear-gradient(top, #fc8200, #c36400);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fc8200), to(#c36400));
	background-image: -webkit-linear-gradient(top, #fc8200, #c36400);
	background-image: -o-linear-gradient(top, #fc8200, #c36400);
	background-image: linear-gradient(to bottom, #fc8200, #c36400);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffc8200', endColorstr='#ffc36400', GradientType=0);
	border-color: #7a3d00 #7a3d00 #7a3d00;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	text-shadow:0px 2px 1px #000;
	box-shadow:0px 0px 0px #b25c00;
}

.btn-demo:hover,
.btn-demo:focus,
.btn-demo:active,
.btn-demo.active,
.btn-demo.disabled,
.btn-demo[disabled] {
	color: #ffffff;
	background-color: #c36400;
}

.btn-demo:active,
.btn-demo.active {
	background-color: #c36400 \9;
}





.btn-testimonials {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #0088cc;
	background-image: -moz-linear-gradient(top, #00a3f4, #0175af);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00a3f4), to(#0175af));
	background-image: -webkit-linear-gradient(top, #00a3f4, #0175af);
	background-image: -o-linear-gradient(top, #00a3f4, #0175af);
	background-image: linear-gradient(to bottom, #00a3f4, #0175af);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	
}

.btn-testimonials:hover,
.btn-testimonials:focus,
.btn-testimonials:active,
.btn-testimonials.active,
.btn-testimonials.disabled,
.btn-testimonials[disabled] {
	color: #ffffff;
	background-color: #0175af;
}

.btn-testimonials:active,
.btn-testimonials.active {
	background-color: #0175af \9;
}
.summery{width:96%; float:left; background-color:#eeeeee; border:1px solid #c6c6c6; padding:25px; margin:50px 0px 20px 0px;}
.summery h2{font:bold 24px "Lucida Sans Unicode"; color:#58595B; margin:0px; padding:0px; line-height:36px; text-align:left;}

/*=======================================================*/


#client-care, #client-care-fr {
    background:url(../img/clientcare-bg.png) no-repeat scroll 141px 154px transparent;
	min-height:600px;
    position: relative;
}
.cc-text h2{font:normal 24px Arial, Helvetica, sans-serif; color:#2f67b1; margin:0px; padding:0px; line-height:26px; text-align:center;}
.cc-text, .cc-text-fr {
    height: 80px;
    left: 265px;
    position: absolute;
    text-align: center;
    top: 335px;
    width: 150px;
}
.cc-text-fr {
    top: 328px;
}
#client-care .complete-system-bg, #client-care-fr .complete-system-bg {
    left: 740px;
    min-height: 300px;
    position: absolute;
    top: 50px;
}
#circle1 span.infotxt1, #circle2 span.infotxt2, #circle3 span.infotxt3, #circle4 span.infotxt4, #circle5 span.infotxt5, #circle6 span.infotxt6, #circle7 span.infotxt7, #circle1-fr span.infotxt1, #circle2-fr span.infotxt2, #circle3-fr span.infotxt3, #circle4-fr span.infotxt4, #circle5-fr span.infotxt5, #circle6-fr span.infotxt6, #circle7-fr span.infotxt7 {
    opacity: 0;
}
#circle1:hover span.infotxt1, #circle2:hover span.infotxt2, #circle3:hover span.infotxt3, #circle4:hover span.infotxt4, #circle5:hover span.infotxt5, #circle6:hover span.infotxt6, #circle1-fr:hover span.infotxt1, #circle2-fr:hover span.infotxt2, #circle3-fr:hover span.infotxt3, #circle4-fr:hover span.infotxt4, #circle5-fr:hover span.infotxt5, #circle6-fr:hover span.infotxt6, #circle7:hover span.infotxt7, #circle7-fr:hover span.infotxt7 {
    background: url("images/tex2res5.png") repeat scroll 0 0 transparent;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
    color: #004990;
    display: block;
    left: 379px;
    opacity: 1;
    padding: 20px;
    position: absolute;
    text-align: left;
    top: 350px;
    width: 245px;
}
#circle2:hover span.infotxt2, #circle2-fr:hover span.infotxt2 {
    left: 212px;
    top: 412px;
}
#circle3:hover span.infotxt3, #circle3-fr:hover span.infotxt3 {
    left: 38px;
    top: 365px;
}
#circle4:hover span.infotxt4, #circle4-fr:hover span.infotxt4 {
    left: -21px;
    top: 188px;
}
#circle5:hover span.infotxt5, #circle5-fr:hover span.infotxt5 {
    left: 213px;
    top: -72px;
}
#circle6:hover span.infotxt6, #circle6-fr:hover span.infotxt6 {
    left: 374px;
    top: 27px;
}
#circle7:hover span.infotxt7, #circle7-fr:hover span.infotxt7 {
    left: 485px;
    top: 190px;
}
#circle1, #circle2, #circle3, #circle4, #circle5, #circle6, #circle7 {
    background:url(../img/clientcare-icons.png) no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 140px;
    width: 140px;
}
#circle1-fr, #circle2-fr, #circle3-fr, #circle4-fr, #circle5-fr, #circle6-fr, #circle7-fr {
    background: url("images/clientcare-icons-fr.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 140px;
    width: 140px;
}
#circle1, #circle1-fr {
    left: 105px;
    position: absolute;
    top: 75px;
}
#circle2, #circle2-fr {
    background-position: -140px 0;
    left: 271px;
    position: absolute;
    top: 13px;
}
#circle3, #circle3-fr {
    background-position: -280px 0;
    left: 446px;
    position: absolute;
    top: 60px;
}
#circle4, #circle4-fr {
    background-position: -420px 0;
    left: 505px;
    position: absolute;
    top: 236px;
}
#circle5, #circle5-fr {
    background-position: -560px 0;
    left: 271px;
    position: absolute;
    top: 497px;
}
#circle6, #circle6-fr {
    background-position: -700px 0;
    left: 110px;
    position: absolute;
    top: 397px;
}
#circle7, #circle7-fr {
    background-position: -560px 0;
    left: 0;
    position: absolute;
    top: 236px;
}
#circle1 span.innercirc, #circle2 span.innercirc, #circle3 span.innercirc, #circle4 span.innercirc, #circle5 span.innercirc, #circle6 span.innercirc, #circle7 span.innercirc {
    background: url(../img/clientcare-icons.png) no-repeat scroll 0 -140px transparent;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.5s ease 0s;
}
#circle1-fr span.innercirc, #circle2-fr span.innercirc, #circle3-fr span.innercirc, #circle4-fr span.innercirc, #circle5-fr span.innercirc, #circle6-fr span.innercirc, #circle7-fr span.innercirc {
    background: url(../img/clientcare-icons-fr.png) no-repeat scroll 0 -140px transparent;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 0.5s ease 0s;
}
#circle2 span.innercirc, #circle2-fr span.innercirc {
    background-position: -140px -140px;
}
#circle3 span.innercirc, #circle3-fr span.innercirc {
    background-position: -280px -140px;
}
#circle4 span.innercirc, #circle4-fr span.innercirc {
    background-position: -420px -140px;
}
#circle5 span.innercirc, #circle5-fr span.innercirc {
    background-position: -560px -140px;
}
#circle6 span.innercirc, #circle6-fr span.innercirc {
    background-position: -700px -140px;
}
#circle7 span.innercirc, #circle7-fr span.innercirc {
    background-position: -560px -140px;
}
#circle1:hover span.innercirc, #circle2:hover span.innercirc, #circle3:hover span.innercirc, #circle4:hover span.innercirc, #circle5:hover span.innercirc, #circle6:hover span.innercirc, #circle7:hover 

#circle1:hover span.innercirc, #circle2:hover span.innercirc, #circle3:hover span.innercirc, #circle4:hover span.innercirc, #circle5:hover span.innercirc, #circle6:hover span.innercirc, #circle7:hover span.innercirc, #circle1-fr:hover span.innercirc, #circle2-fr:hover span.innercirc, #circle3-fr:hover span.innercirc, #circle4-fr:hover span.innercirc, #circle5-fr:hover span.innercirc, #circle6-fr:hover span.innercirc, #circle7-fr:hover span.innercirc {
    opacity: 1;
}

/*=======================================================*/
	
	
	
.btn_wrapper{width:75%; margin:0 auto;}	
.btn_wrapper p{font-family:Shadows Into Light; font-size:30px !important; text-align:center; margin:0px; padding:0px;}
@media screen and (max-width: 1199px) {
.btn_wrapper{width:100%; margin:0 auto;} 
}	
@media screen and (max-width: 979px) {
.btn_wrapper{width:115%; margin:0px 0px 0px -7%;} 
}	
@media screen and (max-width: 840px) {
.btn_wrapper{width:90%; margin:0 auto;} 
}		
@media screen and (max-width: 516px) {
.btn_wrapper p{font-size:26px !important; text-align:center !important;} 
}	
@media screen and (max-width: 478px) {
.btn_wrapper{width:100%; margin:0 auto;}
.btn_wrapper p{font-size:24px !important; text-align:center !important;}
.arrow hl{display:none !important;} 
}
@media screen and (max-width: 434px) {
.btn_wrapper{width:88%; margin:0 auto;}
.btn_wrapper p{font-size:24px !important; text-align:center !important;}
.arrow hl{display:none !important;} 
}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
